@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .btn {
    @apply px-6 py-2 rounded-full font-semibold transition-all duration-300;
  }
  
  .btn-primary {
    @apply bg-white text-black hover:bg-opacity-90;
  }
}